head, body, h1, h2, h3, a, p, ol, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-weight: lighter;
}
h2 {
    font-size: 32px;
    margin-bottom: 10px;
}
h3 {
    font-weight: 300;
}
p {
    font-size: 20px;
    font-weight: lighter;
}
/*Header Ribbon*/
.header {
    background-image: url(images/green-vegetables-on-brown-wooden-chopping-board-3952047.jpg);
    background-size: cover;
    height: 500px;
}
.header-ribbon {
    font-family: cursive;
    width: 92.5%;
    margin: 0 auto;
    border-bottom: 1px solid #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.ribbon-title {
    color: #ffffff;
    font-size: 15px;
}
.nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    padding: 10px;
}
/*Landing Page*/
.landing-page-content {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 125px;
    /* border: 1px solid black; */
}
.title {
    color: #ffffff;
    font-size: 40px;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
}
.slogan {
    color: #ffffff;
    padding: 10px;
    font-size: 26px;
}
/*Content Boxes*/
.content-section {
    display: flex;
    flex-direction: column;
    justify-items: end;
}
.box1 {
    width: auto;
    height: 250px;
    color: #ffffff;
    background-color: #000000;
    display: flex;
    
}
.text1 {
    width: 60%;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* border: 1px solid white; */

}
.box1 img {
    width: 40%;
}
.box2 {
    width: auto;
    height: 250px;
    color: #ffffff;
    background-color: #222222;
    display: flex;
    
}
.text2 {
    width: 60%;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* border: 1px solid white; */

}
.box2 img {
    width: 40%;
}
.box3 {
    width: auto;
    height: 250px;
    color: #ffffff;
    background-color: #000000;
    display: flex;
    
}
.text3 {
    width: 60%;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* border: 1px solid white; */

}
.box3 img {
    width: 40%;
}